.main1{
    background-color: burlywood;
    height: 700px;
}

.main2{
    background-color: cadetblue;
    height: 800px;
}

.main3{
    background-color: chocolate;
    height: 900px;
}

.main4{
    background-color: cornflowerblue;
    height: 400px;
}